@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  /* Centering */
  justify-content: center;
  align-items: center;
  font-size: 56px;
  text-transform: uppercase;
  background-size: cover;
  position: relative;
  font-family: "Alfa Slab One", serif;
  font-style: italic;
}
.front {
  background: url("img/bg-harrypotter.jpg") no-repeat center center;
  z-index: 1;
}
.back {
  background: url("img/bg-narnia.jpg") no-repeat center center;
  z-index: 0;
}
.front:before,
.back:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
/* icon */
.open-navi,
.close-navi {
  background-color: #000;
  color: #fff;
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
}
.open-navi {
  left: 0;
}
.open-navi.active {
  left: -40px;
}
.close-navi {
  right: -40px;
}
.close-navi.active {
  right: 0;
}
