@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  box-sizing: border-box;
}
body {
  font-weight: 300;
  margin: 0;
  line-height: 1.6em;
  background: url("img/bg-welcome.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
a {
  text-decoration: none;
}
/* Toggle Trigger */
.toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}
.toggle i {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: #fff;
  color: #000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.toggle.active i {
  background-color: yellowgreen;
  color: #fff;
  transform: rotate(45deg);
}
/* Overlay */
.overlay {
  background-color: #000;
  width: 40px;
  height: 40px;
  position: fixed;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  transition: 0.5s;
  z-index: 8;
}
.overlay.active {
  transform: scale(300);
}
/* overlay - gnb */
.gnb {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.35s;
  pointer-events: none;
  z-index: 100;
  padding: 0;
}
.gnb.active {
  opacity: 1;
  pointer-events: all;
}
.gnb li {
  list-style: none;
  margin: 10px 0;
}
.gnb li a {
  color: #fff;
  font-size: 24px;
  line-height: 1.6em;
  text-transform: capitalize;
  position: relative;
}
.gnb li a:after {
  transition: 0.35s;
  width: 0;
  content: "";
  position: absolute;
  height: 10px;
  width: 0;
  background-color: yellowgreen;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.gnb li a:hover:after {
  width: 100%;
}

/* Responsive.css */
@media (max-width: 767px) {
  .gnb {
    width: 80%;
  }
  .gnb li {
    margin-bottom: 20px;
  }
  .gnb li a {
    font-size: 24px;
  }
}