@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}
a {
  text-decoration: none;
}
.loading {
  width: 60px;
  height: 60px;
  position: relative;
}
.loading span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: gray;
  animation: loading 2s infinite;
  background-color: crimson;
}
.loading span:nth-child(1) {}
.loading span:nth-child(2) {
  animation-delay: 1s;
}
@keyframes loading {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 20px);
    background-color: dodgerblue;
  }
  50% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
    background-color: orange;
  }
  75% {
    top: calc(100% - 20px);
    left: 0;
    background-color: yellowgreen;
  }
  100% {
    top: 0;
    left: 0;
  }
}