* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #eee;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.testimonial-section {
  width: 800px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.testimonial-section h1 {
  text-align: center;
  line-height: 1.4em;
}
.testimonial-section h1 span {
  color: tomato;
}
.testimonial-pic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: grayscale(1);
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
  margin-top: 40px;
}
.testimonial-pic img.active {
  filter: grayscale(0);
  border-radius: 50%;
}
.testimonial-pic img:nth-child(3) {
  object-position: right;
}
.testimonial {}
.testimonial .content {
  display: none;
}
.testimonial .content.active {
  display: block;
}
.testimonial .content p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 700;
  background-color: orange;
  color: #fff;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
  padding: 3px 7px;
}
@media (max-width: 1199px) {
  .testimonial-section {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .testimonial-section {
    width: 90%;
  }
}